*{
    box-sizing: border-box;
    overflow: hidden;
}
body{
    width: 1024px;
    height: 768px;
    margin: auto;
}
.header{
    width: 1000px;
    height: 65px;
    border: 1px solid black;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: calc(768px - 65px - 20px);
    border: 1px solid black;
    border-top: 0px;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 215px;
    height: 100%;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.aside-header{
    width: 100%;
    height: calc(100% - 25px);
    text-align: center;
}
.topic{
    font-size: 24px;
    font-family: 標楷體;
    color: #FF00FF;
    text-decoration: underline;
}
.box{
    width: 200px;
    height: 35px;
    background-image: url(./img/menu1.png);
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    font-family: 標楷體;
    color: #000000;
}
.box:hover{
    background-image: url(./img/menu2.png);
}
.aside-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    border: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    font-size: 16px;
    font-family: 標楷體;
    color: #000000;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: calc(1000px - 215px);
    height: 100%;
}
.main-header{
    width: 770px;
    height: 29px;
    border: 1px solid black;
    border-top: 0px;
}
.marquee{
    font-size: 24px;
    font-family: 標楷體;
    color: #0000ff;
}
.main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 770px;
    height: calc(100% - 29px);
    border: 1px, solid, black;
    border-top: 0px;
    border-bottom: 0px;
    background-image: url(./img/0101.jpg);
}
.description{
    font-size: 24px;
    font-family: 標楷體;
    font-weight: bold;
    font-style: italic;
    color: #0000ff;
    text-align: center;
    line-height: 1.5;
}
.picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 20px;
    border: 1px solid black;
    border-top: 0px;
    font-size: 16px;
    font-family: 標楷體;
}

